.container2{
    background-image: url(./cloud3.jpg);
    width: 100%;
    height: 700px
       
    }
    


.lead{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lead2{
    color: white;
    font-family: "lobster";
}

.container3{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.profile{
    border-radius: 50%;
    height: 150px;
    width: 150px;
} 

.intro3{
    display:flex;
    justify-content: center;
}

.intro2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 60%
}

.skills{
    display: flex;
    justify-content: center;
    font-family: "lobster";
    margin-bottom: 10px;
}
.cat1{
    height: 200px;
    width: 200px;
    margin-right: 10px;
    border-radius: 50%;

}

.skill1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.skill2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat2{
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 15px;
}

.resume{
    display:flex;
    justify-content: center;
}

.intro3{
    font-family: "lobster";
}